<div ng-controller='View3_1_2Ctrl'>
  
  <div class="container ">
    
    <a class=" d-flex justify-content-center  navbar-light" href="#!/view4_2"><button type="button" ng-show="{{flaga}}" class="btn btn-info buttonTop">Kontynuuj/edytuj formularz</button></a>
    <a class=" d-flex justify-content-center  navbar-light"><button type="button" ng-click="clearLS()"class="btn btn-primary mTop">Rozpocznij wypełnianie nowego formularza</button></a>
    <a class=" d-flex justify-content-center  navbar-light"href="#!/view7_2"><button type="button" ng-show="{{flaga2}}" class="btn btn-warning buttonTop2">Zobacz podsumowanie swojego formularza</button></a>
    <form>
    <label for="adres">Wpisz adres URL</label>
    <input type="text" placeholder="wpisz adres URL" ng-model="adresStrony" id="adres">
    <button type="submit" ng-click="juerel(adresStrony)">Klik </button>
  </form>
  
 