<div ng-controller='View5_2Ctrl'>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="container">
  <form  name="myForm" action="#!/view6_2">
   
    <h1 class="d-flex justify-content-center">Bardzo ważny formularz</h1>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" >1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        <li class="page-item"><a class="page-link">3</a></li>
      </ul>
    </nav>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="bestCPU">Jaki jest najlepszy procesor?</label>
          <input type="text" class="form-control" id="bestCPU" name="cpuInput" ng-model="NFdataTab5.CPU" ng-required="true">
          <div ng-show="myForm.cpuInput.$touched && myForm.cpuInput.$invalid">
            <small style="color:red; display: block; text-align: center;">Podaj prawidłowy procesor</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="bestGPU">Jaka jest najlepsza karta graficzna?</label>
          <input type="text" class="form-control" id="bestGPU" name="gpuInput"ng-model="NFdataTab5.GPU"ng-required="true">
          <div ng-show="myForm.gpuInput.$touched && myForm.gpuInput.$invalid">
            <small style="color:red; display: block; text-align: center;">Podaj prawidłową kartę graficzną</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="bestAnimal">Twoje ulubione zwierze to?</label>
        <select name="zwierzeInput"ng-model="NFdataTab5.Animal" class="custom-select" ng-required="true">
          <option value="Pies">Pies</option>
          <option value="Kot">Kot</option>
          <option value="Rybki">Rybki</option>
          <option value="Mysz od komputera">Mysz od komputera</option>
        </select>
        <div ng-show="myForm.zwierzeInput.$touched && myForm.zwierzeInput.$invalid">
          <small style="color:red; display: block; text-align: center;">Podaj prawidłowe zwierze</small>
        </div>
        <!-- <input type="text" class="form-control" id="bestAnimal" ng-model="NFdataTab5.Animal"required> -->
      </div>
      <div class="form-group">
        <label for="policy">Jaka jest jedyna i słuszna partia polityczna w polsce?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" ng-model="NFdataTab5.Policy" id="exampleRadios1" value="Prawo i Sprawiedliwość"  ng-required="true"   ng-change="checkStuff2()">
          <label class="form-check-label" for="exampleRadios1">
            Prawo i Sprawiedliwość
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" ng-model="NFdataTab5.Policy" id="exampleRadios2" value="Platforma Obywatelska" ng-change="checkStuff()">
          <label class="form-check-label" for="exampleRadios2">
            Platforma Obywatelska
          </label>
        </div>
        <div class="form-check disabled">
          <input class="form-check-input" type="radio" name="exampleRadios" ng-model="NFdataTab5.Policy" id="exampleRadios3" value="Wiosna" ng-change="checkStuff()">
          <label class="form-check-label" for="exampleRadios3">
            Wiosna
          </label>
        </div>
        <!-- <input type="text" class="form-control" id="policy" name="policyInput"ng-model="NFdataTab5.Policy"ng-required="true"> -->
        <div ng-hide="isChecked">
          <small style="color:red; display: block; text-align: center;">Podaj prawidłową partię polityczną</small>
        </div>
      </div>
      <div class="form-group">
        <label for="bestFood">Twoim ulubionym jedzeniem jest?</label>
        <input type="text" class="form-control" id="bestFood" name="jedzenieInput"ng-model="NFdataTab5.Food"ng-required="false">
        <div ng-show="myForm.jedzenieInput.$touched && myForm.jedzenieInput.$invalid">
          <small style="color:red; display: block; text-align: center;">Podaj prawidłowe jedzenie</small>
        </div>
      </div>
      <div class="form-group">
        <label for="size">Ile mierzysz?</label>
        <input type="number" class="form-control" id="size" name="rozmiarInput"ng-model="NFdataTab5.Size" ng-required="true">
        <div ng-show="myForm.rozmiarInput.$touched && myForm.rozmiarInput.$invalid">
          <small style="color:red; display: block; text-align: center;">Podaj prawidłow wzrost</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="childCity">Napisz nazwę miasta, w którym spędziłeś dzieciństwo:</label>
          <input type="text" class="form-control" id="childCity" name="mdziecinstwaInput"ng-model="NFdataTab5.ChildCity"ng-required="true">
          <div ng-show="myForm.mdziecinstwaInput.$touched && myForm.mdziecinstwaInput.$invalid">
            <small style="color:red; display: block; text-align: center;">Podaj prawidłowe miasto</small>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="likeCity">Podobało Ci się tam?</label>
          <select name="lubiszInput" ng-model="NFdataTab5.ChildCity2" class="custom-select" ng-required="true">
            <option value="Tak">Tak</option>
            <option value="Nie">Nie</option>
          </select>
          <div ng-show="myForm.lubiszInput.$touched && myForm.lubiszInput.$invalid">
            <small style="color:red; display: block; text-align: center;">Podaj prawidłową odpowiedź</small>
          </div>
          <!-- <input id="inputState" class="form-control" id="likeCity" ng-model="NFdataTab5.ChildCity2"required> -->
        </div>
      </div>
      <a class="float-left ml-5" href="#!/view4_2"><button type="button" class="btn btn-secondary">Cofnij</button></a> 
      <button type="button" class="btn btn-warning mLeft4" data-toggle="modal" data-target="#alertModal5_2">Usuń wszystko i zacznij od nowa</button>
      <a href="#!/view3_1_2"><button type="button" class="btn btn-danger mLeft3">Anuluj</button></a>
      <button type="submit" class="btn btn-secondary mLeft1" ng-click="pushData5()" ng-disabled="myForm.$invalid || NFdataTab5.Policy !== 'Prawo i Sprawiedliwość'">Przejdź dalej</button>
    </form>
    <!-- -modal------------------------------------------------------------------------- -->
    <div class="modal fade" id="alertModal5_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Czyszczenie formularza</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Usunięcie spowoduje, że jeżeli rozpocząłeś pracę nad formularzem zostanie on wyczyszczony. Na pewno tego chcesz?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Anuluj</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="clearLS3()">Usuń</button>
        </div>
      </div>
    </div>
  </div>
  </div></div>
<!-- modal----------------------------------------------------------------------------------------------- -->
</div>
</div>