<div class="form-group">
    <label for="confession">Wyznanie</label>
    <input type="text" class="form-control" id="confession" name="confessionInput" ng-model="NFdataTab.confession"ng-required="true">
    <!-- <div ng-show=" myForm.confessionInput.$touched && myForm.confessionInput.$invalid">
      <small style="color: red; display: block; text-align: center;">Podaj prawidłowe wyznanie</small>
    </div> -->
  </div>
  <div class="form-group">
    <label for="likedClub">Ulubiony klub sportowy?</label>
    <input type="text" class="form-control" id="likedClub" name="klubInput"ng-model="NFdataTab.FavoritSport" ng-required="true">
    <!-- <div ng-show="myForm.klubInput.$touched && myForm.klubInput.$invalid">
      <small style="color: red; display: block; text-align: center;">Wprowadź poprawny klub sportowy</small>
  </div> -->
  <div class="form-group">
    <label for="inputAddress">Adres</label>
    <input type="text" class="form-control" id="inputAddress" name="adresInput"ng-model="NFdataTab.address"ng-required="true">
    <!-- <div ng-show="myForm.adresInput.$touched && myForm.adresInput.$invalid">
      <small style="color: red; display: block; text-align: center;">Wprowadź poprawny adres</small>
  </div> -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Miasto</label>
      <input type="text" class="form-control" id="inputCity" name="miastoInput"ng-model="NFdataTab.city"ng-required="true">
      <!-- <div ng-show="myForm.miastoInput.$touched && myForm.miastoInput.$invalid">
        <small style="color: red; display: block; text-align: center;">Wprowadź poprawne miasto</small>
    </div> -->
    <div class="form-group col-md-6">
      <label for="inputState">Województwo</label>
      <input id="inputState" class="form-control" name="wojewodztwoInput" ng-model="NFdataTab.voivodeship"ng-required="true">
      <!-- <div ng-show="myForm.wojewodztwoInput.$touched && myForm.wojewodztwoInput.$invalid">
        <small style="color: red; display: block; text-align: center;">Wprowadź poprawne Województwo</small>
    </div> -->
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" ng-model="check">
      <label class="form-check-label" for="gridCheck">
        Potwierdzam prawdziwość danych
      </label>
    </div>
  </div>
  <!-- <a class="float-left ml-5" href="#!/view5"><button type="button" class="btn btn-secondary">Cofnij</button></a>  -->
  <a href="#!/view3_1_2"><button type="button" class="btn btn-danger mLeft2">Anuluj</button></a>
  <button type="button" class="btn btn-warning mLeft4"  data-toggle="modal" data-target="#alertModal4_2">Usuń wszystko i zacznij od nowa</button>
  <button type="submit" class="btn btn-secondary mLeft1" ng-disabled="!check" ng-click="pushData()">Przejdź dalej</button>
  <!-- <input type="submit" value="submit"> -->
</form>
<!-- -modal------------------------------------------------------------------------- -->
<div class="modal fade" id="alertModal4_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Czyszczenie formularza</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Usunięcie spowoduje, że jeżeli rozpocząłeś pracę nad formularzem zostanie on wyczyszczony. Na pewno tego chcesz?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal">Anuluj</button>
      <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="clearLS2()">Usuń</button>
    </div>
  </div>
</div>
</div>
</div></div>
<!-- modal----------------------------------------------------------------------------------------------- -->
</div>
</div>