.navbar-light{
    color: white;
    text-decoration: none;
}
.justif{
    margin-left: 430px;
    font-size: 30px;
}
.diego{
    display: block;
}
.centers{
    margin-left: 300px;
    
}
.justiff{
    margin-left: 510px;
    font-size: 30px;
}
.margins{
    display: block;
    margin-right: 78.5% !important;
    margin-left: 1%;
}
.form-control::placeholder { 
    color: rgba(0, 0, 0, 0.404);
    opacity: 1;
}
.mLeft{
    margin-left: 850px;
}
.mLeft1{
    margin-left: 965px;
}