.navbar-light{
    color: white;
    text-decoration: none;
}
.justif{
    margin-left: 430px;
    font-size: 30px;
}
.diego{
    display: block;
}
.centers{
    margin-left: 300px;
    
}
.justiff{
    margin-left: 510px;
    font-size: 30px;
}
.margins{
    display: block;
    margin-right: 70% !important;
    margin-left: 1%;
}
.margins2{
    display: block;
    margin-left: 1%;
}
.form-control::placeholder { 
    color: rgba(0, 0, 0, 0.404);
    opacity: 1;
}
.mLeft{
    margin-left: 850px;
}
.mLeft1{
    /* margin-left: 965px; */
    position: absolute;
    left: 70%;
}
.mLeft2{
    position: absolute;
    left: 48%;
}.mLeft3{
    position: absolute;
    left: 48%;
}
.mLeft4{
    position: absolute;
    left: 54%;
    /* top: 82vh; */
}
.mLeft5{
    position: absolute;
    left: 63%;
    /* top: 82vh; */
}
.mTop{
    position: absolute;
    font-size: 50px !important;
    text-decoration: none;
    top: 40%;
}
.buttonTop{
    position: absolute;
    top: 20%;
    left: 34%;
    font-size: 50px !important;
    text-decoration: none;
}
.buttonTop2{
    position: absolute;
    top: 60%;
    left: 24,5%;
    font-size: 50px !important;
    text-decoration: none;
}
.colors{
    background-color: blue;
}