.navbar-light{
    color: white;
    text-decoration: none;
}
.justif{
    margin-left: 430px;
    font-size: 30px;
}
.diego{
    display: block;
}
.centers{
    margin-left: 300px;
    
}
.justiff{
    margin-left: 510px;
    font-size: 30px;
}
/* .marginClass{
    padding-right: 100px !important;
} */
.margins{
    display: block;
    margin-right: 86% !important;
}
.form-control::placeholder { 
    color: rgba(0, 0, 0, 0.404);
    opacity: 1;
}
